body{margin: 0;padding: 0;overflow-x: hidden;}
header{}
.painel1{width: 100%;height: 590px;background:#3c2357;background-image: linear-gradient(to bottom left, #3c2256,#3e3675,#3e3877,#4258a9);
    float: left;
 }
a{color: inherit;}
nav ul{
	font-family: segoe ui;
}
.arrow{width: 45%;
	float: right;
}
.logo1{
	width: 374;
	height: 197;
}
.fr{
	display: flex;
	margin-left: -10px;
	margin-top: 200px;
}
.fr2{
	 margin-top: 80px;
	 height: 84px;
	 width: 326px;
     float:right;
     background:url("../images/Rechthoek 18.png");
     background-repeat: no-repeat;
}
.painel2{
	 background: #fff;
     width:100%;
	 height: 63px;
	 float: left;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 border-bottom: solid 1px #dfdfdf;
	 margin-bottom: 70px;
}
.lin{
	 width:100%;
	 height: 5px;
	 background-color: #dfdfdf;
}
.logo{margin-left:20px;
	  margin-top: 10px;
	  margin-right: 100px;
	  align-items: center;
}
.menu a{font-family: Segoe UI;
		font-size: 12px;
		margin-right: 40px;
}
.menu1{
	margin-right: 5px;
}
.fin{
	text-align: center;
	font-family: Segoe UI Black;
    color:#303030;
}
.fin1{
	font-family: Segoe UI Historic;
	text-align: center;
	font-size: 22px;
	color:#979797;
}
.stro{font-family: segoe UI;
	text-align: center;
	margin-bottom: 55px;
}
.row{margin-bottom: 95px;
     align-items: center;
     font-family: segoe UI;
}
.row2{	
	text-align: center;
	font-family: segoe UI;
}
.rowback2{width: 100%;
	background: #dadada;
	padding:70px;
	padding-bottom:0px;
}	
.ourser{
	background: #fff;
	width: 1200px;
	height: 590px;
}
.ourser1{
	margin-top: 50px;
	margin-left: 40%;
	float: left;
}
.ourser2{
	margin-top: 88px;
	margin-left: 30%;
	float: left;
}
.backf1{
	width: 100%;
	height: 400px;
	background:#9c1c46;
    background-image: linear-gradient(#9c1c46,#971d49,#90204e,#882353,#7d275a,#732b61,#5f336e,#4d3979);
	z-index: 2;
}
.bf1{
	text-align: center;
	font-family: Segoe UI Black;
	font-size: 30px;
    color:#fff;
}
.bf2{text-align: center;
	font-family: calibri light;
	font-size: 25px;
    color:#fff;
}
.backf2{
	width: 100%;
	height: 505px;
	background:#dadada;
	z-index: 2;
}
footer{
	text-align: center;
	background: #fff;
	color: #7c7c7c;
	width: 100%;
	height: 66px;
	padding: 20px;
	font-family: calibri;
}
.formu{
	background: #fff;
	width: 100%;
	z-index: 1;
	float: left;
}
input[type=text]{    
    background: #fff; 
    border:1px solid #dadada;
    width:100%;
    height: 46px;
}
input[type=email]{    
    background: #fff; 
    border:1px solid #dadada;
    width:100%;
    height: 46px;
}
input[type=textarea]{
	background: #fff; 
    border:1px solid #dadada;
    width:100%;
    height: 200px;
}
input[type=submit]{
	background: #e61757;
	width: 92px;
	height: 46px;
	border:0;
	font-family: Segoe UI ;
	color:#fff;
	font-size: 14px;
	padding: 10px;
}
label{
	 margin-left:11px;
}
.formu1{
	margin-left: 20px;
	width: 85%;
	float: left;
}
.formu2{
	float: left;
	width: 10%;
}
.titulo{font-size: 25px;
	color: #303030;
	font-family:Segoe Ui;}
.texto{font-size: 15px;
	color: #999999;
	font-family: calibri;}
.texto1{
	font-size: 15px;
}

